/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../runo/runo.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin todo {
  /* Include all the styles from the reindeer theme */
  @include runo;

  /* Insert your theme rules here */
  .v-slot-titlebar {
    background: white;
  }

  .login-panel {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0,0,0,.5);
    padding: 1em 1em 2em;
  }
  
  .login-panel .labels,
  .login-panel .fields {
    display: block;
  }

  .login-panel .v-textfield {
    width: 150px;
  }
  
  .login-panel .h2 {
    padding: 0;
    font-size: 20px;
    letter-spacing: -0.05em;
  }
  
  .login-panel .error {
    font-size: 13px;
    height: 20px;
    padding-left: 14px;
    color: #cc3333;
  }
  
}
